<header class="header">
    <nav class="navbar" aria-label="Navegação principal">
        <a class="logo" href="index.html">Ramses Pierre</a>
        <button class="menu-toggle" type="button" aria-label="Abrir menu de navegação" aria-expanded="false" aria-controls="nav-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu" id="nav-menu">
            <li class="nav-item"><a class="nav-link" href="index.html">Início</a></li>
            <li class="nav-item"><a class="nav-link" href="curriculo.html">Currículo</a></li>
            <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfólio</a></li>
            <li class="nav-item"><a class="nav-link" href="contato.html">Contato</a></li>
        </ul>
    </nav>
</header>